<filter-drawer id="FilterDrawer">
  <details>
    <summary
      id="FilterDrawer-Summary"
      aria-label="Filter collection"
      class="flex items-center gap-x-2 cursor-pointer py-4 px-4 text-sm "
    >
      {% render 'icons' with 'filters', width: 18, height: 18 -%}
      <span>Filters</span>
    </summary>
    <aside
      id="FilterDrawer-Aside"
      class="z-40 fixed top-0 bottom-0 left-0 bg-white w-[40rem] max-w-[calc(100vw-3rem)] transition-all ease-out-expo duration-300"
    >
      <div class="flex flex-col overflow-y-auto gap-4 h-full">
        <header class="relative flex justify-center bg-neutral-100 p-4">
          <button class="drawer__close absolute top-1/2 -translate-y-1/2 right-4">
            {%- render 'icons' with 'close' -%}
          </button>
          <h2 class="">Filters</h2>
        </header>
        <div class="p-4">
          {% render 'facets-drawer', results: collection, type: 'drawer', item_padding: 'py-2' %}
        </div>

        {%- if collection.products.size > 0 -%}
          <filters-compare-button class="hidden py-3 px-4">
            <a
              href="/pages/compare?collection={{ collection.handle }}"
              class="btn-outline"
              >Compare
              <span
                class="w-6 h-6 text-xs bg-neutral-100 text-black inline-flex justify-center items-center rounded-full"
                count
              ></span
            ></a>
            {% comment %}
              <a
                href="/pages/compare?collection={{ collection.handle }}"
                class="block py-3 font-semibold text-primary-dark"
                >Compare</a
              >
            {% endcomment %}
          </filters-compare-button>
        {%- endif -%}
      </div>
    </aside>
  </details>
</filter-drawer>
