{%- if image != blank -%}
  <div class="swiper-slide">
    <a
      href="{{ link }}"
      class="block mb-4"
    >
      {% render 'image',
        image: image,
        aspect_ratio: 'aspect-square',
        class: 'bg-neutral-100',
        width: 500,
        srcset: '500, 500, 500'
      %}
    </a>
    <p class="mb-2 text-sm whitespace-normal">{{ title }}</p>

    <a
      href="{{ link }}"
      class="text-sm underline underline-offset-4 block text-neutral-600"
    >
      {{- link_label -}}
    </a>
  </div>
{%- endif -%}
