<script type="module" crossorigin src="{{ 'index-de7be6e3.js' | asset_url }}"></script>
<link rel="stylesheet" href="{{ 'style-05821e28.css' | asset_url }}">

<div id="app"></div>

{% schema %}
{
  "name": "Thermostat",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "heading"
    }
  ]
}
{% endschema %}
