{%- liquid
  assign sort_by = search.sort_by | default: search.default_sort_by
  assign terms = search.terms | escape
  assign search_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
-%}

<div class="container py-16">
  <header class=" mx-auto mb-16 flex max-w-lg flex-col gap-8">
    <h2 class="text-center text-4xl">Search results</h2>

    {% render 'search-component',
      aside_class: 'absolute top-full left-0 right-0 h-auto bg-white p-4 border rounded-md z-30',
      limit: 5
    %}
  </header>

  <div class="mt-8">
    {%- if search.performed -%}
      {% paginate search.results by 24 %}
        {%- if search.results.size == 0 -%}
          <p>{{ 'sections.collection_template.empty' | t }}</p>
        {%- else -%}
          <tag-component>
            <nav  class="mb-8 flex flex-wrap justify-center gap-4" role="tablist" aria-label="Tab navigation">
              {%- assign search_types = search.types -%}
              {%- for type in search_types -%}
                <button class="rounded-lg bg-neutral-100 px-3 py-2">{{ type }} </button>
              {%- endfor -%}
            </nav>

            <ul class="grid grid-cols-2 gap-4 md:grid-cols-3 lg:grid-cols-4">
              {%- for item in search.results -%}
                {%- case item.object_type -%}
                  {%- when 'product' -%}
                    <li>
                      {% render 'card-product',
                        product: item,
                        aspect_ratio: 'aspect-square',
                        show_secondary_image: true,
                        show_compare: false,
                        show_favorite: true
                      %}
                    </li>
                {%- endcase -%}
              {%- endfor -%}
            </ul>

            <ul>
              {%- for item in search.results -%}
                {%- case item.object_type -%}
                  {%- when 'article' -%}
                    <li>{{ item.title }}</li>
                {%- endcase -%}
              {%- endfor -%}
            </ul>
            <ul>
              {%- for item in search.results -%}
                {%- case item.object_type -%}
                  {%- when 'page' -%}
                    <li>{{ item.title }}</li>
                {%- endcase -%}
              {%- endfor -%}
            </ul>
          </tag-component>
          {% comment %}
            <ul class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
              {%- for item in search.results -%}
                <li>{% render 'card-product', product: item, aspect_ratio: 'aspect-square' %}</li>
              {%- endfor -%}
            </ul>
          {% endcomment %}
        {%- endif -%}
        {% for product in search %}
        {% endfor %}
      {% endpaginate %}
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Search",
  "tag": "section",
  "settings": []
}
{% endschema %}
