/* keen-slider:not([data-keen-slider-disabled]) {
  .keen-slider {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    align-content: flex-start;
    display: flex;
    overflow: hidden;
    position: relative;
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -khtml-user-select: none;
    width: 100%;
    & .keen-slider__slide {
      min-height: 100%;
      overflow: hidden;
      position: relative;
      width: 100%
    }
  }
  .dots {
    @apply flex gap-x-2 justify-center py-2
  }
  
  .dots--edge {
    @apply bottom-1;
  }
  
  .dot {
    @apply bg-primary scale-75 transition-all duration-300 ease-out w-2 h-2 opacity-30 rounded-full cursor-pointer border-0;
  }
  
  .dot:focus {
    outline: none;
  }
  
  .dot--active {
    @apply scale-100 opacity-100;
  }
  
  .dots--light > * {
    @apply bg-white
  }
}

product-gallery-slider {
  .keen-slider:not([data-keen-slider-disabled]) {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    align-content: flex-start;
    display: flex;
    overflow: hidden;
    position: relative;
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -khtml-user-select: none;
    width: 100%;
  }

  .keen-slider:not([data-keen-slider-disabled]) .keen-slider__slide {
    min-height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%
  }
  .dots {
    @apply flex gap-x-2 justify-center py-2
  }
  
  .dots--edge {
    @apply bottom-1;
  }
  
  .dot {
    @apply bg-primary scale-75 transition-all duration-300 ease-out w-2 h-2 opacity-30 rounded-full cursor-pointer border-0;
  }
  
  .dot:focus {
    outline: none;
  }
  
  .dot--active {
    @apply scale-100 opacity-100;
  }
  
  .dots--light > * {
    @apply bg-white
  }
}


.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-reverse] {
  flex-direction: row-reverse
}

.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-v] {
  flex-wrap: wrap
}

.keen-slider--thumbnail .keen-slider--slide {
  height: 100px;
}

[id^='ProductGalleryThumbs'] {
  .keen-slider__slide {
    &.active {
      @apply border border-black
    }
  }
}



.navigation-wrapper {
  position: relative;
}



.arrow {
  @apply absolute top-1/2 -translate-y-1/2 cursor-pointer visible opacity-100;
}

.arrow--left {
  @apply left-0 md:left-4 
}
.arrow--right {
  @apply right-0 md:right-4 
}

.arrow--disabled {
  @apply opacity-0 invisible
}

.arrow--left-announcement {
  @apply lg:left-1/4
}

.arrow--right-announcement {
  @apply lg:right-1/4
}

.arrow--background {
  @apply bg-white h-8 w-8 flex items-center justify-center rounded-lg shadow-md
} */
